@media screen and (max-width: 767px)
{
:root
{
    --normalblue:#0065FC;
    --lightblue: #DEEBFF;
    --grey: #F2F2F2;
}
/*************REGLE GENERAL********/
main, header, body
{
    
    padding-right: 0;
    padding-left: 0;
} 
/*************TOP HEADER********/
nav
    {
        flex-direction: column;
        justify-content: center;
    }
.navi 
{
    width: 100%;
    display: flex;
}
.navi a 
{
    display: flex;
    width: 50%;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: solid 3px var(--grey);
    margin-left:0px;
    padding-top:15px;
}
.navi a:hover
{
    color: var(--normalblue);
    border-bottom: solid 3px var(--normalblue);
    border-top:none;
}
#logo
{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-left: 150px;

}
.filterText > a 
{
    font-weight: bolder;
    font-size: 15px;
}
/*********TITRES************/
.titre, .info
{
    padding-left: 13px;
    padding-right: 13px;
}
.titre > h1
{
    font-size: 23px;
    padding-top: 10px;
}
.titre > p 
{
    font-size: 13px;
    font-weight: lighter;
}
.filtres {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: block;
}
.info 
{
    padding-bottom: 15px;
}
.titleHost
{
    padding: 0;
}
/*********SEARCH************/
.searchAll
{

    text-align: center;
    justify-content: center;
}
.searchInput
{
    border-right: none;
    width: 70%;
}
.localPoint
{
    border-radius: 30% 0 0 30%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
#searchButton > i
{
    display:block;
}
#searchButton
{
    border-radius: 20%;
    font-size: 20px;
}
#searchButton > span
{
    display: none;
}

/*********FILTRES************/
.filtres > ul 
{
    flex-wrap: wrap;
    padding: 0;
}
.filterText
{
    margin-bottom: 10px;
}
/*********INFO************/
.infoIcone
{
    font-size: 15px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin-top: 10px;
}
.info
{
    margin-bottom: 0px;
}
.info p 
{
    margin:0;
    padding:0;
    padding-left: 10px;
    padding-top: 10px;
}
/*********HEBERGEMENT ET POPULAIRE************/
.hebsPop
{
    flex-direction: column-reverse;
}
/*********POPULAIRE************/
#popu
{
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
}
.populaire
{
    width: 100%;
    padding:0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: initial;
    padding: 5px;
}
.popImg img 
{
    border-radius: 15px 0 0 15px;
    
}
.popu2 > a 
{
    height: 33%;
    width: 95%;
}
.popImg
{
    width: 40%;
    height: 100%;
}
.popSt > small
{
    font-size: 10px;
}
.etoiletext
{
    width: 100%;
    height: 100%;
}
/*********HEBERGEMENT************/
    #hebs
    {
        background-color: white;
        margin-left: 20px;
        margin-right: 30px;
        display: flex;
    }
    .hebs2 
    {
        flex-direction: column;
    }
.marseille
{
    height: 100%;
    width:100%;
    background-color:white;
    border: 2px solid var(--grey);
    box-shadow: 1px 1px 13px var(--grey);
    margin:0;
    margin-bottom: 15px;
}
.hebs2 > a 
{
    width: 100%;
}
.acti2 > *
{
    width: 100%;
}
.alcImg img  
{
    border-radius: 15px 15px 0 0px;
    
}
.alcImg
{
    height: 115px;
}
.alcSt
{
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
.alcSt > h3
{
    font-size: 17px;
}
.alcSt > small
{
    font-size: 12px;
}
.showMore
{
    padding:0;
}
/***********ACTIVITE**********/
.acti2
{
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}
.activites
{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;

}
.actiImgGrand > img
{
    width: 100%;
    height:130px;
}
.activitesPetit
{
    height: 100%;
    width: 100%;
}
.actiImg img
{
    height:130px;
}
.actiSt
{
    font-size: 14.5px;
}
.titleHost2
{
    padding-left: 15px;
}
/*************FOOTER********/
footer  
{
    flex-direction: column;
    padding-top: 30px;
}
.gras + li, li
{
    font-size: 13px;
}
.gras
{
    font-size: 18px;
}
.footerBox > ul > li
{
    margin-bottom: 5%;
}
}